body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2C2C2C;
    overflow: hidden;
}

#splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#splash img {
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 240px;
}